html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: grid;
    
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-template:
    "left main"
  ;
  
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-content {
  grid-area: main;
  
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar {
  grid-area: left;
  
  padding-left: 1rem;
  
  overflow-y: scroll;
  height: 100vh;
}

i {
  display: inline;
  background-color: #dfdfdf;
  font-family: monospace;
  font-style: normal;
  padding: 2px;
}

pre.code {
  display: block;
  background-color: #eeeeee;
  font-family: monospace;
  font-style: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  
  overflow-x: scroll;
  overflow-y: hidden;
  
  white-space: pre;
  
  padding: 1em;
  
  font-size: 1.1rem;
}

.important-code {
  font-weight: bold;
  color: #0000dd;
}

.card {
  margin-top: 2ex;
  margin-bottom: 2ex;
}

.nav-link {
  white-space: nowrap;
}

.nav-link.active {
  white-space: nowrap;
  border-left: 4px solid #aa00aa;
  color: #aa00aa;
  padding-left: 12px;
}

nav {
  margin-right: 1em;
}

/* To make example work. */
.inline-code {
  display: inline;
  background-color: #dfdfdf;
  font-family: monospace;
  font-style: normal;
  padding: 2px;
}